#calc-container{
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    background-color: black;
}
#calc-display-container{
    height: 80px;
    text-align: right;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "orbitron", sans-serif;
    font-weight: bolder;
}
#calc-display {
    background: grey;
    max-width: 270px;
    max-height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#calc-button-container{
    display: grid;
    grid-template-columns: repeat(4, 3.5em);
    grid-template-rows: repeat(5, 3.5em);
    width: 300px;
    justify-content: center;
    align-items: center;
    column-gap: .8em;
    row-gap: 0.5em;
    background-color: rgb(36, 35, 35);
    padding-top: 10px;
    padding-bottom: 10px;
}

#display-text {
    word-wrap: break-word;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}
.calc-button {
    padding: 14px 0px;
    font-size: 24px;
    height: 53px;
    border-radius: 100%;
    border: none;
    background-color: grey;
    color: white;
}

.calc-button:hover {
    background-color: lightgrey;
    color: black;
    transform: translateY(-0.1em);
}

#ac-button {
    background-color: rgb(185, 71, 71);
    border-radius: 50px;
    color: white;
}

#c-button {
    background-color: indianred ;
}

#ac-button:hover,
#c-button:hover {
    background-color: rgb(228, 140, 140);
    color: black;
}

.number-button {
    background-color: grey;
    color: white;
}

.operator-button:hover {
    background-color: lightblue;
}
#decimal-button {
    font-size: 24px;
}

#equal-button {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(98, 189, 98);
    color: white;
    border-radius: 25px;
}
#equal-button:hover {
    background-color: rgb(74, 223, 74);
    color: black;
}