#calc-container{
    border: 2px solid black;
    border-radius: 8px;
    width: 23em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    background-color: rgb(234, 237, 253);
}
#calc-display-container{
    height: 50px;
    text-align: right;
    font-size: 26px; 3x
    letter-spacing: 3px;
    font-family: "orbitron", sans-serif;
    font-weight: bolder;
}
#calc-button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 23em;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    row-gap: 1px;
    background-color: black;
}

#display-text {
    word-wrap: break-word;
}
.calc-button {
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
}

.calc-button:hover {
    background-color: lightblue;
}

#clear-button {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: beige;
    padding: 10px;
    border-radius: 0px 0px 2px 2px;
    border: 2px solid black;
}

.number-button {
    background-color: grey;
    color: white;
}


#division-button,
#multiplication-button,
#subtraction-button,
#addition-button {
    background-color: orange);
    font-size: 24px;
    padding: 11px;
}

#decimal-button {
    font-size: 36px;
    padding: 4px;
}

#equal-button {
    background-color: indianred;
    color: white;
}

#equal-button:hover {
    background-color: rgb(233, 52, 52);
}

#clear-button:hover {
    background-color: lightblue;
}