#calc-container{
    border: 2px solid black;
    border-radius: 8px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    background-color: rgb(234, 237, 253);
}
#calc-display-container{
    width: 50vw;
    height: 50px;
    text-align: right;
    font-size: 32px;
    letter-spacing: 3px;
    font-family: arial;
}
#calc-button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50vw;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    row-gap: 1px;
    background-color: black;
}

.calc-button {
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
}

.calc-button:hover,
.calc-button:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

#clear-button {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: beige;
    padding: 10px;
    border-radius: 2px;
    border: 3px solid black;
}

.number-button {
    background-color: grey;
    color: white;
}


#division-button,
#multiplication-button,
#subtraction-button,
#addition-button {
    background-color: orange);
}

#decimal-button {
    font-size: 36px;
    padding: 4px;
}

#equal-button {
    background-color: indianred;
    color: white;
}

